// FONTS
$font-josephine: "Josefin Sans", sans-serif;
$font-alata: "Alata", sans-serif;

// COLORS
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$dark-gray: hsl(0, 0%, 55%);
$very-dark-gray: hsl(0, 0%, 41%);

// IMAGES
$imgpath: url(/loopstudio\ code/images/mobile/image-hero);
